.pagesWrapper {
  display: flex;
  color: #2D2E46;
  font-size: 16px;
  position: relative;

  span {
    min-width: 24px;
    cursor: pointer;
    padding: 5px;
    width: content-box;
    text-align: center;
  }

  .page {
    pointer-events: all;

    &:hover {
      font-weight: bold;
      pointer-events: all;
    }
  }

  .pageActive {
    pointer-events: none;
  }

  .pageList {
    display: flex;
  }

  .currentPage {
    background: #5d079f;
    border-radius: 2px;
    color: #F2F5F7;
    user-select: none;
    padding: 5px;
    min-width: 24px;
    width: content-box;
    text-align: center;
  }

}
