.editableSpan {
  position: relative;

  .input {
    color: grey;
    cursor: pointer;

    display: inline-block;
    height: 27px;

    &:hover {
      color: #5d079f;
    }

    &:hover ~ .prompt {
      opacity: 1;
      visibility: visible;
    }
  }

  .prompt {
    opacity: 0;
    color: #5d079f;
    visibility: hidden;
    position: absolute;
    bottom: 8px;
    left: 65px;
    font-size: 0.7em;
    background-color: #d5d0d0;
    width: 150px;
    transition: 0.5s opacity;
    border: dotted #5d079f 2px;
    text-align: center;
    border-radius: 5px;
  }
}

