.main {
    margin-left: 15px;
}

.homeworks10 {
    color: darkred;
    font-size: 1.6em;
    font-weight: bold;
}

.alternative {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    color: #5b0505;
    text-decoration: underline;
}

.Preloaders {
    display: flex;
}